{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-account outer">
    <div class="inner">

    {{#if @member.paid}}

        {{!-- Logged in, paying member: SHOULD NOT HAPPEN --}}
        <div class="subscriber-box">
          <p>That's odd! The database lists you as a paid subscriber, which shouldn't happen since {{@site.title}} doesn't use paid subscriptions.</p>
        </div>

    {{else if @member}}

        {{!-- Logged in, not paying: That's all there is! --}}
        <div class="account-box">
            <div class="subscriber-avatar">
                {{> "icons/avatar"}}
                {{#if @member.avatar_image}}
                    <img src="{{@member.avatar_image}}" />
                {{/if}}
            </div>
            <h1 class="account-box-title">You are subscribed</h1>
            <p>Hey there! <strong>{{@member.email}}</strong> is subscribed to the {{@site.title}} newsletter updates.</p>
        </div>

    {{else}}

        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>

    {{/if}}

    </div>
</main>
